:host {
  display: block;
  max-width: 1024px;
  margin: auto;
  padding: 24px;

  @media screen and (max-width: 400px) {
    padding: 16px;
  }
}

app-search-bar {
  display: block;
  &.bm {
    margin-bottom: 2rem;
  }
}

.admin-buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}

table[mat-table] {
  th {
    background: var(--primary);
    color: var(--primary-contrast);

    &:first-child {
      border-top-left-radius: 8px;
    }

    &:last-child {
      border-top-right-radius: 8px;
    }
  }

  // Touchable row when user has admin role
  .mat-mdc-row.touchable {
    cursor: pointer;

    &:hover {
      background: var(--medium);
      color: var(--text-color);
      font-weight: bold;
    }
  }

  .avatar {
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin: 4px 0;
  }

  background: transparent;
  border-radius: 8px;
}

.loading-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
  background: transparent;
  margin-bottom: 12px;
}

mat-paginator {
  background: transparent;
}
