@import "../../../../styles.scss";

:host {
  display: block;
  max-width: 1024px;
  margin: auto;
  padding: 24px;

  @media screen and (max-width: 400px) {
    padding: 16px;
  }
}

app-search-bar {
  display: block;
  &.bm {
    margin-bottom: 2rem;
  }
}

.admin-buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
  margin-top: -10px;
}

table[mat-table] {
  margin-bottom: 2rem;
  background: transparent;
  border-radius: 8px;

  @media screen and (max-width: 400px) {
    width: 100%;
    table-layout: fixed;
    display: table;
  }

  .mdc-data-table__header-cell {
    background: var(--primary);
    color: var(--primary-contrast);
    @media screen and (max-width: 400px) {
      padding: 0 4px;
      text-align: center;
    }

    &:first-child {
      border-top-left-radius: 8px;
    }

    &:last-child {
      border-top-right-radius: 8px;
    }
  }

  // Touchable row when user has admin role
  .mat-mdc-row.touchable {
    cursor: pointer;

    &:hover {
      background: var(--medium);
      color: var(--text-color);
      font-weight: bold;
    }
  }

  .avatar {
    @extend .circle;
    width: 50px;
    aspect-ratio: 1/1;
    margin: 4px 0;

    @media screen and (max-width: 400px) {
      width: 32px;
    }
  }

  .cdk-header-cell,
  .cdk-cell {
    text-align: center;

    @media screen and (max-width: 400px) {
      width: 36px;
      padding: 0 2px;
    }
  }

  @media screen and (min-width: 400px) {
    .cdk-column-actions {
      text-align: end;
    }
  }
}

.loading-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
  background: transparent;
  margin-bottom: 12px;
}

mat-paginator {
  background: transparent;
}
