@import "../../../../styles.scss";

:host {
  display: grid;
  place-items: center;
  max-width: 1024px;
  height: 100%;
  margin: auto;
  padding: 24px;

  @media screen and (max-width: 400px) {
    padding: 16px;
  }
}

.card {
  display: grid;
  place-items: center;
  background: transparent;
  padding: 24px;
  width: 100%;

  @media screen and (max-width: 400px) {
    padding: 12px;
  }

  .card-header {
    height: 220px;

    .avatar {
      display: flex;
      justify-content: center;

      img {
        @extend .circle;
        width: 150px;
        aspect-ratio: 1/1;
        box-shadow: 0px 0px 10px var(--medium);
      }
    }

    .summary {
      margin: 12px auto;
      display: flex;
      justify-content: center;

      .age {
        margin: 0 4px;
      }
    }
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    .loading-options {
      display: flex;
      gap: 1rem;
    }

    mat-form-field {
      width: max(300px, 48%);
    }

    input {
      padding-top: 4px;
    }

    mat-hint {
      font-size: 0.7rem;
    }

    .form-buttons {
      width: 100%;
      display: flex;
      justify-content: center;
      justify-content: space-around;
      gap: 1rem;

      button {
        width: min(300px, 100%);
      }

      button[type="button"] {
        background: var(--medium);
      }
    }
  }
}
