<mat-card class="card">
  <section class="card-header">
    <div class="avatar">
      <img [src]="employee.avatar" alt="Employee picture" />
    </div>
    <h2 class="summary">
      {{
        name?.value ? ($any(formEmployee.value) | fullName) : "New employee "
      }}

      @if (birthDate?.value && ($any(birthDate?.value) | age)) {
      <span class="age"> ({{ $any(birthDate?.value) | age }}) </span>
      }
    </h2>
  </section>

  <form [formGroup]="formEmployee" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label for="nameId"> Name </mat-label>
      <input matInput id="nameId" formControlName="name" placeholder="John" />
      <mat-icon matSuffix>
        {{
          name?.invalid && name?.touched
            ? "sentiment_very_dissatisfied"
            : "sentiment_very_satisfied"
        }}
      </mat-icon>
      <mat-hint
        >Name must have between {{ nameMinChars }} and
        {{ nameMaxChars }} characters
      </mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label for="surnameId"> Surname </mat-label>
      <input
        matInput
        id="surnameId"
        formControlName="surname"
        placeholder="Smith"
      />
      <mat-icon matSuffix>
        {{
          surname?.invalid && surname?.touched
            ? "sentiment_very_dissatisfied"
            : "sentiment_very_satisfied"
        }}
      </mat-icon>
      <mat-hint
        >Surname must have between {{ nameMinChars }} and
        {{ nameMaxChars }} characters</mat-hint
      >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label for="birthDateId"> Birthdate </mat-label>
      <input
        matInput
        id="birthDateId"
        formControlName="birthDate"
        inputmode="numeric"
        [placeholder]="dateConfig.format"
        [mask]="dateConfig.mask"
        [showMaskTyped]="true"
        [validation]="true"
        [dropSpecialCharacters]="false"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      @if(loading()) {
      <mat-label for="positionId" class="loading-options">
        <mat-spinner diameter="20"></mat-spinner>
        {{ position?.value || "Loading positions..." }}
      </mat-label>
      } @else {
      <mat-label for="positionId"> Position </mat-label>
      }
      <mat-select
        formControlName="position"
        id="positionId"
        [required]="!loading()"
      >
        @for (position of (positionOptions$ | async); track $index) {
        <mat-option [value]="position">
          {{ position | titlecase }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>
    @if(position?.value === "Other") {
    <mat-form-field appearance="outline">
      <mat-label for="altPos"> Specify position </mat-label>
      <input
        matInput
        id="altPosId"
        formControlName="altPos"
        placeholder="Intern"
      />
    </mat-form-field>
    }

    <div class="form-buttons">
      <button mat-button type="button" (click)="goBack()">Cancel</button>
      <button mat-raised-button color="accent" type="submit">Save</button>
    </div>
  </form>
</mat-card>
