/* Color palette */
:root {
  color-scheme: light dark;

  background-color: var(--background-color);

  --primary: #3f51b5;
  --primary-contrast: #fff;
  --accent: #0a9a8d;
  --accent-contrast: #fff;

  --text-color: #000;
  --medium: #d9d9d9;
  --background-color: #f5f5f5;

  @media (prefers-color-scheme: dark) {
    --primary: #0a9a8d;
    --primary-contrast: #fff;
    --accent: #3f51b5;
    --accent-contrast: #fff;

    --text-color: #fff;
    --medium: #92949c;
    --background-color: #303140;

    html,
    body {
      background-color: var(--background-color);
      color: var(--text-color);
    }
  }
}
